<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795664390984-aarnmabi55686bsnh1qlivrgjdonetg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795664390984-aarnmabi55686bsnh1qlivrgjdonetg0</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLbr7iuDzHIlzLLKIQ9cb8oTLGOwK32g</string>
	<key>GCM_SENDER_ID</key>
	<string>795664390984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainplow.sell4bids</string>
	<key>PROJECT_ID</key>
	<string>sell4bids-4affe</string>
	<key>STORAGE_BUCKET</key>
	<string>sell4bids-4affe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795664390984:ios:e8ab941489e7562a</string>
	<key>DATABASE_URL</key>
	<string>https://sell4bids-4affe.firebaseio.com</string>
</dict>
</plist>